body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    transition: transform 0.2s;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5em;
    margin: 5px 10px 5px 10px;
}

.card-description {
    margin: 5px 10px 10px 10px;
    color: #555;
}

.card-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #0056b3;
}

.span2 {
    grid-column: span 2;
}