body{
    margin: 0;
    padding: 10px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 0 auto;
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.card img {
    width: 100%;
    height: 50%;
    margin-left: auto;
    object-fit: cover;
}
.card h2 {
    font-size: 1.5em;
    margin: 15px 0 10px 0;
    color: #333;
}
.card p {
    color: #555;
    line-height: 1.4;
}
@media screen and (min-width: 601px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}