body{
    margin: 0;
    padding: 0;
}
.wrapper {
    background-color: #333333;
    color: #444;
    padding: 20px;
    height: 90vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
} 

.item {
    background-color: #3092d7;
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 2em;
}
.item.a, .item.f {
    grid-column: 1/4;
}
.item.b {
    grid-row: 2/4;
}
.item.e {
    grid-column: 2/4;
}